<section id="app">
  <header>
    <h1>Guess the Number</h1>
  </header>
  <article>
{{outlet}}
  </article>
  <footer>
    <div class="float-right">
      High Scores
    </div>
  </footer>
</section>
